<!--
file:   home.ejs
author: Tara Hanson
date:   January 14, 2016
desc:   HTML page for the Welcome/Home page of our website
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gonzaga eRPT</title>
    <link href="/stylesheets/welcomeHome.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/menu.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="NavBar">
    <nav>
        <ul>
            <liCurrent><a href="/home">Home</a></liCurrent>
            <li><a href="/myBinder">My Binder</a></li>
            <li><a href="/evaluation">Evaluation</a></li>
            <li><a href="/workbench">Workbench</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </nav>
</div>

<center><img src="/images/smaller_logo.png" height="20%" width="20%">
    <br>
    <h1>Welcome to Gonzaga University eRPT</h1></center>
    <br>
</form>
<div id="IntroParagraph">

    <br><br>
    Welcome to Gonzaga University's electronic reappointment, promotion, and tenure application. This goal of this website is
    to assist applicants and evaluators with the RPT process by simplifying binder creation and eliminating paper waste.
    To get started, navigate to the "My Binders" tab. This is where you will begin creation of your first binder by adding
    files to the various tabs for your binder. For additional help with binder creation, and for help with other aspects of
    the eRPT process, please navigate to our help page.</div>
</body>

</html>

<script>
    function redirect() {
        window.location.replace("home.html");
        return false;
    }
</script>
