<!--
file:	login.html
author: Richard Riley
date:	12/16/15 (updated)
desc:	Login page HTML with DEMO section included for presentation
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="login-holder">
    <br>
    <img id="logo" src="/images/eRPT_2.2.png">
    <br>
    <form class="center" action="/" method="post">
        <p></p>
        <input type="text" name="username" maxlength="64" autofocus placeholder="Username" class="StyleTxtField" required>
        <p></p>
        <input type="password" name="password" maxlength="64" placeholder="Password" class="StyleTxtField" required>
        <p></p>
        <input class="submit" type="submit" value="Submit">
        <p></p>
    </form>
</div>
</body>
</html>
