<!--
file:	organizer.ejs
author:
date:	January 14, 2016 (updated)
desc:
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Organize Example</title>
    <link href="/stylesheets/layout.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/menu.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/alwaysOpenSidebar.css" rel="stylesheet">
    <script src="/javascript/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/javascript/alwaysOpenSidebar.js"></script>
</head>

<body>
<div id="navBar">
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dynamicBinder">My Binders</a></li>
            <liCurrent><a href="/organizer">Organizer</a></liCurrent>
            <li><a href="/evaluation">Evaluation</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/logout"><%= user.username%>, Log Out</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</div>

<div id="contentAndSidebarRegion">
    <div id='cssMenu'>
        <ul>
            <li class='active has-sub'><a href='#'><span>Dean's Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'>
                            <span>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Chair Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'>
                            <span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Committee <br> Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'>
                            <span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Prior Letters & Recommendation</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                               <table>
                                   <tbody>

                                   <tr>
                                       <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                       <td>
                                           <button class="editButton-sidebar">Edit</button>
                                           <button class="removeButton-sidebar">Remove</button>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>



            <li class='active has-sub'><a href='#'><span>Self Eval & Personal Statement</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class='active has-sub'><a href='#'><span>Current Resumé</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class='active has-sub'><a href='#'><span>List of Courses</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Professional Development Materials</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Letters</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='active has-sub'><a href='#'><span>Student Evaluations</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                               <table>
                                   <tbody>

                                   <tr>
                                       <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                       <td>
                                           <button class="editButton-sidebar">Edit</button>
                                           <button class="removeButton-sidebar">Remove</button>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class='active has-sub'><a href='#'><span>List of Supplemental Materials</span></a>
                <ul>
                    <li class='last'>
                        <a href='#'><span>
                                <table>
                                    <tbody>

                                    <tr>
                                        <td align="left" colspan="0"><a class="link-sidebar" id="[fill in]" href="#">[filename].pdf</a></td>
                                        <td>
                                            <button class="editButton-sidebar">Edit</button>
                                            <button class="removeButton-sidebar">Remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
        </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="uploady">
            <input id="inputFileField" type="file" name="files" accept="application/pdf">
            <form action="/Binder" style="padding-top:8px"method="post">
                <input id="payload" type="hidden" name="pdfString" value="" required>
                <input id="pdfName" type="hidden" name="pdfName" value="" required>
                <input id="pdfDesc" style="margin-bottom:8px;width:270px" type="text" name="pdfDesc" placeholder="Enter a file description..." required="">

                <select name="tabToPush" style='width:276px;margin-bottom:8px;' required>
                    <option selected disabled>Select the tab</option>
                    <option value="0">Dean's Recommendation</option>
                    <option value="1">Chair Recommendation</option>
                    <option value="2">Committee Recommendation</option>
                    <option value="3">Prior Letters & Recommendations</option>
                    <option value="4">Self Eval & Personal Statement</option>
                    <option value="5">Current Resumé</option>
                    <option value="6">List of Courses</option>
                    <option value="7">Professional Development Materials</option>
                    <option value="8">Letters</option>
                    <option value="9">Student Evaluations</option>
                    <option value="10">List of Supplemental Materials</option>
                </select>

                <input id="formSub" type="submit" value="Confirm" class="uploadButton-sidebar">
            </form>
        </div>
    </div>
    <div id="contentPDFWithAnno">
        <p>Required code for PDF viewer done but we need correct query for this page.</p>
    </div>
    <div id="contentAnnotation">
        <div id="actionsRegion">
            <button class="submitButton-annotation">Submit</button>
        </div>
    </div>
    <div id="terminatorDiv">
    </div>
</div>

<script>
    function readSingleFile(event) {
        var fileIn = event.target.files[0];
        var readr = new FileReader();
        var builtArrayString = '0x'
        if (fileIn) {
            if(fileIn.type == 'application/pdf')
            {
                readr.addEventListener("loadend",function(){
                            var fileToBytes = new Uint8Array(readr.result.slice(0));
                            for (var ndx = 0; ndx < fileToBytes.length; ndx++)
                            {
                                var numberString = fileToBytes[ndx].toString(16);
                                if (numberString.length == 1)
                                {
                                    numberString = '0' + numberString;
                                }
                                builtArrayString = builtArrayString + numberString;
                            }

                            document.getElementById("payload").value = builtArrayString;
                            document.getElementById("pdfName").value = fileIn.name;
                            document.getElementById("formSub").style.backgroundColor = "rgb(48,187,17)";
                        }
                );
            }
            else {
                alert("Extension not .pdf");
            }
        } else {
            alert("Failed to load file");
        }
        readr.readAsArrayBuffer(fileIn);
    }

    document.getElementById("inputFileField").addEventListener('change', readSingleFile, false);
</script>

</body>
</html>
