<!--
file:   testerAdam.ejs
author: Adam La Mar
date:   March 22, 2016
desc:   testing page
-->

<!DOCTYPE html>
<html>
<head>
</head>
<body>
        <form action="/testerAdam" method="post">
            <input type="text" name="input" maxlength="64" placeholder="Example text">
            <input type="text" name="extra">
            <input type="submit" value="Submit">
        </form>
</body>
</html>
