/*
file:	alwaysOpenSidebar.css
author:	Eric Jobes
date:	?
desc:	CSS for 'tabbed' sidebar
*/

#cssMenu {
  font-family: sans-serif;
  text-align: left;
  line-height: 1;
  width: 300px;
  height: auto;
  float:left;
}

#cssMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
#cssMenu ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
#cssMenu ul li a {
  text-decoration: none;
}
#cssMenu > ul > li > a {
  color: #dddddd;
  text-transform: uppercase;
  display: block;
  padding: 17px;
  border-top: 1px solid #a0a0a0;
  background: #222222;
  letter-spacing: 1.2px;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  position: relative;
}
#cssMenu > ul > li:first-child > a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#cssMenu > ul > li:last-child > a {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#cssMenu > ul > li:hover > a,
#cssMenu > ul > li.open > a,
#cssMenu > ul > li.active > a {
  background: #0b2a50;
  color: #ffffff;
}
#cssMenu ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #0b2a50;
  border-botom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -13px;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssMenu ul > li.has-sub > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #0b2a50;
  border-botom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -12px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssMenu ul > li.has-sub::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #dddddd;
  z-index: 2;
  right: 20px;
  top: 24.5px;
  pointer-events: none;
}
#cssMenu ul > li:hover::after,
#cssMenu ul > li.active::after,
#cssMenu ul > li.open::after {
  border-top-color: #ffffff;
}
#cssMenu ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}
#cssMenu ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}

#cssMenu ul ul {
  display: none;
}
#cssMenu ul ul li {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#cssMenu ul ul li a {
  background-color:rgba(255,255,255,0);
  border: none;
  display: block;
  position: relative;
  font-size: 14px;
  text-align:left;
  padding: 8px 4px;
  color: #777777;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
#cssMenu ul ul li:first-child > a {
  padding-top: 18px;
}
#cssMenu ul ul ul li {
  border: 0;
}
#cssMenu ul ul li:hover > a,
#cssMenu ul ul li.open > a,
#cssMenu ul ul li.active > a {
  background: #e4e4e4;
  color: #666666;
}
#cssMenu ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}
#cssMenu ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}
#cssMenu ul ul ul li a {
  padding-left: 30px;
}
#cssMenu ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #777777;
}
#cssMenu ul ul > li:hover::after,
#cssMenu ul ul > li.active::after,
#cssMenu ul ul > li.open::after {
  border-top-color: #666666;
}
