/*
file:	table.css
author:	Eric Jobes
date:	?
desc:	CSS for older style content management pages
*/
.container {
	display: inline-flex;
	flex-wrap: wrap;
	text-align: center;
    padding-bottom: 10px;
}

.pricing-table {
    width: 260px;
    margin: 5px 8px 5px 8px;
    background: #f8f8f8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);  
}

.pricing-table:hover {
    background: #7795bf;
    color:#ffffff;
}

.pricing-table strong { font-weight: 700; color: #3d3d3d; }

.pricing-table-header {
    padding: 1px 0 1px 0;
    background: #3d3d3d;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#7795bf));
    background-image: -webkit-linear-gradient(top, #1d4e95, #0b2a50);
    background-image: -moz-linear-gradient(top, #1d4e95, #0b2a50);
    background-image: -o-linear-gradient(top, #1d4e95, #0b2a50);
    background-image: -ms-linear-gradient(top, #1d4e95, #0b2a50);
    background-image: linear-gradient(to bottom, #1d4e95, #0b2a50);
}

.pricing-table-header h2 { font-size: 30px; font-weight: 700; text-shadow: 0 -2px 0 rgba(0,0,0,.25); }
.pricing-table-header h3 { margin-top: 20px; font-size: 24px; font-weight: 400; text-shadow: 0 -2px 0 rgba(0,0,0,.25); }

.pricing-table-space { height: 10px; }

.pricing-table-text {
    margin: 5px 10px 0 10px;
    padding: 0 100px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}

.pricing-table-features {
    margin: 15px 10px 0 10px;    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: rgb(0,0,0);
}

.pricing-table-features:hover {
	color: #fff;
}

.pricing-table-sign-up {
    margin-top: 25px;
    padding-bottom: 30px;

}

.pricing-table-sign-up a {
    display: inline-block;
    width: 180px;
    height: 40px;
    background: #3d3d3d;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#3e3e3e));
    background-image: -webkit-linear-gradient(top, #494949, #3e3e3e);
    background-image: -moz-linear-gradient(top, #494949, #3e3e3e);
    background-image: -o-linear-gradient(top, #494949, #3e3e3e);
    background-image: -ms-linear-gradient(top, #494949, #3e3e3e);
    background-image: linear-gradient(to bottom, #494949, #3e3e3e);
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.pricing-table-sign-up a:hover {
    text-decoration: none;
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
}

.pricing-table-sign-up a:active {
    -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.2) inset;
}


/* Highlighted table */

.pricing-table-highlighted {
    margin-top: 0;
}

.pricing-table-highlighted .pricing-table-header {
    background: rgb(255,0,0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,0,0)), to(#648a43));
    background-image: -webkit-linear-gradient(top, #76a04f, #648a43);
    background-image: -moz-linear-gradient(top, #76a04f, #648a43);
    background-image: -o-linear-gradient(top, #76a04f, #648a43);
    background-image: -ms-linear-gradient(top, #76a04f, #648a43);
    background-image: linear-gradient(to bottom, #76a04f, #648a43);
}

.pricing-table-highlighted .pricing-table-sign-up a {
    background: rgb(255,0,0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76a04f), to(#648a43));
    background-image: -webkit-linear-gradient(top, #76a04f, #648a43);
    background-image: -moz-linear-gradient(top, #76a04f, #648a43);
    background-image: -o-linear-gradient(top, #76a04f, #648a43);
    background-image: -ms-linear-gradient(top, #76a04f, #648a43);
    background-image: linear-gradient(to bottom, #76a04f, #648a43);
}

.pricing-table-highlighted .pricing-table-header:hover {
    background: rgb(255,0,0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,0,0)), to(#648a43));
    background-image: -webkit-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: -moz-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: -o-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: -ms-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: linear-gradient(to bottom, rgb(255,0,0), #648a43);
}

.pricing-table-highlighted .pricing-table-sign-up a:hover {
    background: rgb(255,0,0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255,0,0)), to(#648a43));
    background-image: -webkit-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: -moz-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: -o-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: -ms-linear-gradient(top, rgb(255,0,0), #648a43);
    background-image: linear-gradient(to bottom, rgb(255,0,0), #648a43);
}

